.boxtest{
    display: flex;
    flex-direction: column;
}
h2{
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}