.TodoBoxShow{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    width: 500px;
    height: 200px;
    color: #9C27B0;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 10px;
    margin-top: 8px;
}
#submit{
    cursor: pointer;
    border-radius: 5em;
    color: white;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
#done{
    font-weight: bold;
    font-size: 20px;
}
.head{
    display: flex;
}
.imgTodo{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
}
.imgTodo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  .MainBoxTodo{
    /* display: grid; */
    /* grid-auto-columns: auto auto auto;   } */
  }
.flex{
    /* position: fixed; */
    display: flex;
    padding-top: 10px;

    /* justify-content: space-between; */

}
#show{
    cursor: pointer;
    border-radius: 5em;
    color: white;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    height: 40px;
}