h2{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: cornflowerblue;
  font-weight: bolder;
  font-size: 50px;
}
/* @media screen and (max-width: 700px) { */
 body{
  background-image: url("https://www.vhv.rs/dpng/d/509-5097256_new-svg-image-login-logo-user-icon-hd.png");
 

} 
#form{
     text-align: center;
			color: #4d4d4d;
			font-size: 24px;
      padding: 20px 0 20px 0;
      width: 300px;
			margin: 0 auto;
      font-family: Tahoma, Geneva, sans-serif;
			border: 30px solid darkcyan ;
      
}

  #password{
      width: 100%;
			padding: 15px;
			border: 1px solid #dddddd ;
			margin-bottom: 15px;
			box-sizing:border-box;

  }
  #usermail{
    width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
  /* #UserLName{
    width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;

  } */

  #Login{
    width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
  }
  .img{
    /* width:20px;
    height: 40px; */
    /* border: 200px solid black; */
  }